<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>KidBox usa la tua posizione in background per aggiornarla anche quando l&apos;app non è aperta.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>KidBox usa la tua posizione per mostrarla ai membri della famiglia.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>KidBox usa la tua posizione in background per aggiornarla anche quando l&apos;app non è aperta.</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.52613538008-v2d99mfnbfkgc4d5hoefabrpaevpdgpl</string>
			</array>
		</dict>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>location</string>
	</array>
</dict>
</plist>
